body{
  margin: 0;
}

.content{
  background: rgb(14,171,190);
  background: linear-gradient(90deg, rgba(14,171,190,1) 0%, rgba(29,253,239,1) 49%, rgba(14,146,196,1) 100%);margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content-tiempo{
  color: rgb(9, 94, 94);
  font-size: 1.5rem;
  font-weight: 600;
}

.content-time{
  background-color: rgb(30, 120, 204);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 100px;
  font-weight: bold;
}

.formu{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  
}

.formu div{
  display: flex;
  flex-direction: column;
}

.formu input[type=number]{
  border-radius: 12px;
  padding: 8px;
  font-size: 1.1rem;
}

.formu input[type=submit]{
  border-radius: 5px;
  padding: 10px;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: rgb(15, 160, 160);
}

.formu input[type=submit]:hover{
  background-color: teal;
}

.formu label{
  padding: 5px 0px;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .formu{
    grid-template-columns: 1fr;
  }
}